CalculateIntent/Schemas/SampleResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1676375184481" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1676375184481">
  <complexType name="SampleElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="preProductDetails">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="pidMatchingValue">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="beInfo">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="subBeInfo">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="acvDetails">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="acvFlag" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="roDetails">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="roFlag" type="string"/>
                                          <element maxOccurs="unbounded" minOccurs="0" name="buyProg">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                                <element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="1" minOccurs="0" name="lineId" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="partnerIntent" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="sellerIntent" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="extNetPrice" type="double"/>
                                                      <element maxOccurs="1" minOccurs="0" name="term" type="double"/>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                              </sequence>
                                            </complexType>
                                          </element>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVProductNetAmtUSD" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVProductNetAmtUSD" type="string"/>
            <element maxOccurs="unbounded" minOccurs="0" name="productFamily">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="beInfo">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="subBeInfo">
                          <complexType>
                            <sequence>
                              <element maxOccurs="unbounded" minOccurs="0" name="categoryDetails">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="hwOrSwCategory" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="acvDetails">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="acvFlag" type="string"/>
                                          <element maxOccurs="unbounded" minOccurs="0" name="roDetails">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="1" minOccurs="0" name="roFlag" type="string"/>
                                                <element maxOccurs="unbounded" minOccurs="0" name="buyProg">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                                      <element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                        <complexType>
                                                          <sequence>
                                                            <element maxOccurs="1" minOccurs="0" name="lineId" type="string"/>
                                                            <element maxOccurs="1" minOccurs="0" name="partnerIntent" type="string"/>
                                                            <element maxOccurs="1" minOccurs="0" name="sellerIntent" type="string"/>
                                                            <element maxOccurs="1" minOccurs="0" name="extNetPrice" type="double"/>
                                                            <element maxOccurs="1" minOccurs="0" name="term" type="integer"/>
                                                          </sequence>
                                                        </complexType>
                                                      </element>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                              </sequence>
                                            </complexType>
                                          </element>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVProductNetAmt" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVProductNetAmt" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="preServiceDetails">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="totalACVServiceNetAmtUSD" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVServiceNetAmtUSD" type="string"/>
            <element maxOccurs="unbounded" minOccurs="0" name="serviceCategory">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="allocatedServiceGrpInfo">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="serviceProgram">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="serviceLevel">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="beInfo">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                          <element maxOccurs="unbounded" minOccurs="0" name="subBeInfo">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                                <element maxOccurs="unbounded" minOccurs="0" name="acvDetails">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="1" minOccurs="0" name="acvFlag" type="string"/>
                                                      <element maxOccurs="unbounded" minOccurs="0" name="roDetails">
                                                        <complexType>
                                                          <sequence>
                                                            <element maxOccurs="1" minOccurs="0" name="roFlag" type="string"/>
                                                            <element maxOccurs="unbounded" minOccurs="0" name="buyProg">
                                                              <complexType>
                                                                <sequence>
                                                                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                                                  <element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                                    <complexType>
                                                                      <sequence>
                                                                        <element maxOccurs="1" minOccurs="0" name="lineId" type="string"/>
                                                                        <element maxOccurs="1" minOccurs="0" name="partnerIntent" type="string"/>
                                                                        <element maxOccurs="1" minOccurs="0" name="sellerIntent" type="string"/>
                                                                        <element maxOccurs="1" minOccurs="0" name="extNetPrice" type="double"/>
                                                                        <element maxOccurs="1" minOccurs="0" name="term" type="double"/>
                                                                      </sequence>
                                                                    </complexType>
                                                                  </element>
                                                                </sequence>
                                                              </complexType>
                                                            </element>
                                                          </sequence>
                                                        </complexType>
                                                      </element>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                              </sequence>
                                            </complexType>
                                          </element>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVServiceNetAmt" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVServiceNetAmt" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="optyDetails">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="preTotalProdAttriNetAmtUSD" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="preTotalSerAttriNetAmtUSD" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="preTotalBuyProgNetAmtUSD" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="preTotalProdAttriNetAmt" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="preTotalSerAttriNetAmt" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="preTotalBuyProgNetAmt" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="optyNumber" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="quoteId" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="sfdcOptyNumber" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="currencyCode" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="user" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="publishedDate" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="eaFlag" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="combinedServiceFlag" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalProdAttriNetAmtUSD" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalSerAttriNetAmtUSD" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalBuyProgNetAmtUSD" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalProdAttriNetAmt" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalSerAttriNetAmt" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalBuyProgNetAmt" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="productDetails">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="pidMatchingValue">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="beInfo">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="subBeInfo">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="acvDetails">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="acvFlag" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="roDetails">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="roFlag" type="string"/>
                                          <element maxOccurs="unbounded" minOccurs="0" name="buyProg">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                                <element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="1" minOccurs="0" name="parentLineId" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="partnerIntent" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="sellerIntent" type="string"/>
                                                      <element maxOccurs="1" minOccurs="0" name="extNetPrice" type="double"/>
                                                      <element maxOccurs="1" minOccurs="0" name="term" type="double"/>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                              </sequence>
                                            </complexType>
                                          </element>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVProductNetAmtUSD" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVProductNetAmtUSD" type="string"/>
            <element maxOccurs="unbounded" minOccurs="0" name="productFamily">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="beInfo">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="subBeInfo">
                          <complexType>
                            <sequence>
                              <element maxOccurs="unbounded" minOccurs="0" name="categoryDetails">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="hwOrSwCategory" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="acvDetails">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="acvFlag" type="string"/>
                                          <element maxOccurs="unbounded" minOccurs="0" name="roDetails">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="1" minOccurs="0" name="roFlag" type="string"/>
                                                <element maxOccurs="unbounded" minOccurs="0" name="buyProg">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                                      <element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                        <complexType>
                                                          <sequence>
                                                            <element maxOccurs="1" minOccurs="0" name="parentLineId" type="string"/>
                                                            <element maxOccurs="1" minOccurs="0" name="partnerIntent" type="string"/>
                                                            <element maxOccurs="1" minOccurs="0" name="sellerIntent" type="string"/>
                                                            <element maxOccurs="1" minOccurs="0" name="extNetPrice" type="double"/>
                                                            <element maxOccurs="1" minOccurs="0" name="term" type="double"/>
                                                          </sequence>
                                                        </complexType>
                                                      </element>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                              </sequence>
                                            </complexType>
                                          </element>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                </complexType>
                              </element>
                              <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVProductNetAmt" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVProductNetAmt" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="serviceDetails">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="totalACVServiceNetAmtUSD" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVServiceNetAmtUSD" type="string"/>
            <element maxOccurs="unbounded" minOccurs="0" name="serviceCategory">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                  <element maxOccurs="unbounded" minOccurs="0" name="allocatedServiceGrpInfo">
                    <complexType>
                      <sequence>
                        <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="serviceProgram">
                          <complexType>
                            <sequence>
                              <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                              <element maxOccurs="unbounded" minOccurs="0" name="serviceLevel">
                                <complexType>
                                  <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                    <element maxOccurs="unbounded" minOccurs="0" name="beInfo">
                                      <complexType>
                                        <sequence>
                                          <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                          <element maxOccurs="unbounded" minOccurs="0" name="subBeInfo">
                                            <complexType>
                                              <sequence>
                                                <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                                <element maxOccurs="unbounded" minOccurs="0" name="acvDetails">
                                                  <complexType>
                                                    <sequence>
                                                      <element maxOccurs="1" minOccurs="0" name="acvFlag" type="string"/>
                                                      <element maxOccurs="unbounded" minOccurs="0" name="roDetails">
                                                        <complexType>
                                                          <sequence>
                                                            <element maxOccurs="1" minOccurs="0" name="roFlag" type="string"/>
                                                            <element maxOccurs="unbounded" minOccurs="0" name="buyProg">
                                                              <complexType>
                                                                <sequence>
                                                                  <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                                                                  <element maxOccurs="unbounded" minOccurs="0" name="termInfo">
                                                                    <complexType>
                                                                      <sequence>
                                                                        <element maxOccurs="1" minOccurs="0" name="parentLineId" type="string"/>
                                                                        <element maxOccurs="1" minOccurs="0" name="partnerIntent" type="string"/>
                                                                        <element maxOccurs="1" minOccurs="0" name="sellerIntent" type="string"/>
                                                                        <element maxOccurs="1" minOccurs="0" name="extNetPrice" type="double"/>
                                                                        <element maxOccurs="1" minOccurs="0" name="term" type="double"/>
                                                                      </sequence>
                                                                    </complexType>
                                                                  </element>
                                                                </sequence>
                                                              </complexType>
                                                            </element>
                                                          </sequence>
                                                        </complexType>
                                                      </element>
                                                    </sequence>
                                                  </complexType>
                                                </element>
                                              </sequence>
                                            </complexType>
                                          </element>
                                        </sequence>
                                      </complexType>
                                    </element>
                                  </sequence>
                                </complexType>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="1" minOccurs="0" name="totalACVServiceNetAmt" type="string"/>
            <element maxOccurs="1" minOccurs="0" name="totalNonACVServiceNetAmt" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="offerDetails">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="parentOfferType">
              <complexType>
                <sequence>
                                    <element maxOccurs="1" minOccurs="0" name="name" type="string" />
                                    <element maxOccurs="unbounded" minOccurs="0" name="subOfferType">
                    <complexType>
                      <sequence>
                                                <element name="name" type="string" minOccurs="0" maxOccurs="1"></element>
                                                <element maxOccurs="1" minOccurs="0"
                      		name="recurringFlag" type="string" />
                      	<element maxOccurs="1" minOccurs="0"
                      		name="netPrice" type="integer" />
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="subscriptionDetails">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="partDetails">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="partNumber" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="quantity" type="integer"/>
                  <element maxOccurs="1" minOccurs="0" name="initialTerm" type="string"/>
                  <element maxOccurs="1" minOccurs="0" name="autoRenewalTerm" type="string"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <element name="SampleElement" type="tns:SampleElementType"/>
</schema>
